.cursor {
  width: 100px;
  height: 100px;
}
.content {
  position: absolute;
  inset: 0;
  z-index: 10;
  display: grid;
  place-content: center;
  gap: 32px;
}
.description {
  margin: 0;
  line-height: 1.5;
  letter-spacing: 0.06rem;
  font-size: 1.5rem;
}
.button {
  height: 48px;
  padding: 0;
  font-size: 1.25rem;
  border-radius: 9999px;
  background-color: #111;
  color: var(--color-text);
  border: none;
  cursor: pointer;
  letter-spacing: 0.12rem;
}
