.cursor {
  width: 100px;
  height: 100px;
}
.content {
  max-width: 640px;
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: 10;
  display: grid;
  place-content: center;
  gap: 32px;
  padding: clamp(24px, 2vw, 48px);
}
.description {
  margin: 0;
  line-height: 1.5;
  letter-spacing: 0.06rem;
  font-size: clamp(18px, 2vw, 24px);
}
.button {
  height: 48px;
  padding: 0;
  font-size: clamp(16px, 1.75vw, 21px);
  border-radius: 9999px;
  background-color: #111;
  color: var(--color-text);
  border: none;
  cursor: pointer;
  letter-spacing: 0.12rem;
  transition:
    color 0.2s ease,
    background-color 0.3s ease;
}
.button:hover {
  color: #111;
  background-color: #fff;
}
.button:active {
  color: #111;
  background-color: #eee;
  transition-duration: 0.05s;
}
